{% extends "layout.html" %}

{% block title %}
  Sign in
{% endblock %}

{% block body %}
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="{{ url_for('index') }}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('bookQuery') }}">Search books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('signout') }}">Sign out</a>
  </li>
</ul>
  <div class="container">
    {% if user != None %}
    <div class="alert alert-success" role="alert">
      Logged in as: {{user.username}}
    </div>
    {% endif %}
      <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">
                  <form id="login-form" class="form" action="{{ url_for ('bookQuery') }}" method="post">
                    <h3 class="text-center text-info">
                      {% if not bookNotFound %}
                        Hello, {{ user.username }}! Search for a book.
                      {% else %}
                        No book found.
                      {% endif %}
                      </h3>
                      <div class="form-group">
                          <label for="username" class="text-info">title:</label><br>
                          <input type="text" name="title" id="title" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="isbn" class="text-info">ISBN:</label><br>
                          <input type="text" name="isbn" id="isbn" class="form-control">
                      </div>
                      <div class="form-group">
                          <label for="The Pact" class="text-info">author:</label><br>
                          <input type="text" name="author" id="author" class="form-control">
                      </div>
                      <div class="form-group">
                          <input type="submit" name="submit" class="btn btn-info btn-md" value="Search">
                      </div>

                  </form>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
